<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    
     <add name="iStockConnectionString" connectionString="Data Source=DESKTOP-TGP7LML;Initial Catalog=Estate;Integrated Security=True" providerName="System.Data.SqlClient"/>
     <!--<add name="iStockConnectionString" connectionString="Data Source=CHAMILA-PC\SQLEXPRESS2012;Initial Catalog=EstateAugust;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>-->

    <!--<add name="iStockConnectionString" connectionString="Data Source=CHAMILA-PC\SQLEXPRESS2012;Initial Catalog=DSK;Integrated Security=True" providerName="System.Data.SqlClient"/>-->

    <!--<add name="iStockConnectionString" connectionString="Data Source=centrilla2012.czegvmfnsctg.ap-southeast-1.rds.amazonaws.com;Initial Catalog=Estate;Persist Security Info=True;User ID=centrilla;Password=user1234" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="backup" value="backup database Estate to disk='d:\pathfined\" />
    <add key="backuplocation" value="d:\pathfined\" />
    <add key="backupConnection" value="Data Source=DESKTOP-TGP7LML;Initial Catalog=AAA;Integrated Security=True" />
    
    <add key="DefaultCulture" value="en-GB" />
    <add key="IsNetworkEnabled" value="false"/>
    <add key="SuperAdmin" value="superadmin770640490"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
